<div ng-controller='HomeController'>
	<ul class="nav nav-tabs">
		<li role="presentation" class="{{isActive('home')}}"><a href="#/" ng-click="showsAllNews()">Home</a></li>
		<li ng-repeat="newsType in newsTypes" role="presentation" class="{{isActive(newsType)}}"><a
			href="#/" ng-click="showsNews(newsType)">{{newsType}}</a></li>
	</ul>
	<div class="container">
		<div class="row">
			<br>
		</div>
		<div class="row">
			<div class="col-md-5">
				<div class="row">
					<a ng-repeat='news in newsList' ng-click="showSelectedNews(news)"
						class="col-md-0"><p>{{news.headline}}</p></a>
				</div>
			</div>
			<div class="col-md-4 text-primary">{{selectedNews}}</div>
		</div>
	</div>
</div>