<div ng-controller='HomeController'>
	<ul class="nav nav-tabs">
		<li role="presentation" class="{{isActive('home')}}"><a href="#/" ng-click="showsAllNews()">Home</a></li>
		<li ng-repeat="newsType in newsTypes" role="presentation" class="{{isActive(newsType)}}"><a
			href="#/" ng-click="showsNews(newsType)">{{newsType}}</a></li>
	</ul>
	<div class="container">
		<div ng-if="isSummaryView" id="mobileNewsPanel"class="row mobile-visible">
			 	<a ng-repeat='news in newsList' ng-click="showSelectedNews(news)"
						class="col-md-0">
						<h5  class="{{readNews[news.newsId] ? 'read-news':'primary-text'}}">{{news.headline}}</h5>
				</a>
		</div>
		<div ng-if="!isSummaryView" id="mobileNewsDetail" class="row">
			<div class="col-md-7 text-primary mobile-visible">
			<p align="right" > <a ng-click="goToSummary()">back</a></p>
			<p>{{selectedNews.newsDetail}}</p>
			<p align="right"><a ng-click="goToSummary()">back</a></p>
			</div>
		</div>
		<div class="row desktop-visible">
			<div class="col-md-5">
				<div class="row ">
				   	<a ng-repeat='news in newsList' ng-click="showSelectedNews(news)"
						class="col-md-0">
						<h5  class="{{readNews[news.newsId] ? 'read-news':'primary-text'}}">{{news.headline}}</h5>
					</a>
				</div>
			</div>
			<div class="col-md-7 text-primary desktop-visible">
			<p ng-if = "selectedNews"> See Detail</p>
			<p>{{selectedNews.newsDetail}}</p>
			</div>
		</div>
	</div>
</div>