.read-news{
	color: gray;
}
@media screen and (max-width: 1279px) {
	.mobile-visible{
		display: block
	}
	
	.desktop-visible{
		display: none
	}
}

@media screen and (min-width: 1280px) {
	.mobile-visible{
		display: none
	}
	
	.desktop-visible{
		display: block
	}
}